<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.bootstrapCss %>"
    />
    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.fontAwesomeCss %>"
    />
    <script src="<%= htmlWebpackPlugin.options.fontAwesomeJs %>"></script>
  </head>
  <body>
    <div id="root"></div>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.options.jquery %>"
    ></script>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.options.bootstrapJs %>"
    ></script>
  </body>
</html>
